*/__pycache__
*/**/____pycache__
*/**/**/____pycache__
*/**/**/**/____pycache__
*/**/**/**/**/____pycache__
*/**/**/**/**/**/____pycache__
*/**/**/**/**/**/**/____pycache__


*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
